{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Traffic Light | Древовидная диаграмма сотрудников</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'font-awesome/css/font-awesome.min.css' %}"
    />

    <script
      type="text/javascript"
      src="{% static 'js/jquery-1.10.2.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'bootstrap/js/bootstrap.min.js' %}"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Traffic Light <small>Древовидная диаграмма сотрудников </small></h1>
      </div>

      <!-- Tree View - START -->
      <div class="container">
        <div class="row">
          {% if departments %}
          <div class="col-md-4 col-md-offset-4">
            <ul id="treeview">
              {% if departments_first %}
              <li data-icon-cls="fa fa-bars">
                Первый уровень
                <ul id="treeview">
                  {% for department in departments_first %}
                  <li data-icon-cls="fa fa-building">
                    {{department.name|title}}
                    <ul>
                      {% for employee in department.employee_set.all %}
                      <li data-icon-cls="fa fa-address-book-o">
			      {{employee.fullname}} - {{employee.job_title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %} {% if departments_second %}
              <li data-icon-cls="fa fa-bars">
                Второй уровень
                <ul id="treeview">
                  {% for department in departments_second %}
                  <li data-icon-cls="fa fa-building">
                    {{department.name|title}}
                    <ul>
                      {% for employee in department.employee_set.all %}
                      <li data-icon-cls="fa fa-address-book-o">
                        {{employee.fullname}} - {{employee.job_title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %} {% if departments_third %}
              <li data-icon-cls="fa fa-bars">
                Третий уровень
                <ul id="treeview">
                  {% for department in departments_third %}
                  <li data-icon-cls="fa fa-bars">
                    {{department.name|title}}
                    <ul>
                      {% for employee in department.employee_set.all %}
                      <li data-icon-cls="fa fa-address-book-o">
                        {{employee.fullname}} - {{employee.job_title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %} {% if departments_fourth %}
              <li data-icon-cls="fa fa-bars">
                Четвертый уровень
                <ul id="treeview">
                  {% for department in departments_fourth %}
                  <li data-icon-cls="fa fa-building">
                    {{department.name|title}}
                    <ul>
                      {% for employee in department.employee_set.all %}
                      <li data-icon-cls="fa fa-address-book-o">
                        {{employee.fullname}} - {{employee.job_title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %} {% if departments_fifth %}
              <li data-icon-cls="fa fa-bars">
                Пятый уровень
                <ul id="treeview">
                  {% for department in departments_fifth %}
                  <li data-icon-cls="fa fa-building">
                    {{department.name|title}}
                    <ul>
                      {% for employee in department.employee_set.all %}
                      <li data-icon-cls="fa fa-address-book-o">
                        {{employee.fullname}} - {{employee.job_title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
          {% else %}
          <h3>Пожалуйста, добавьте информацию о сотруднике в <a href="{% url 'admin:index' %}">админ панель</a></h3> 
          {% endif %}
        </div>
      </div>

      <!-- you need to include the ShieldUI CSS and JS assets in order for the TreeView widget to work -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'shieldui.css' %}"
      />
      <script type="text/javascript" src="{% static 'shieldui.js' %}"></script>

      <script type="text/javascript">
        jQuery(function ($) {
          $("#treeview").shieldTreeView();
        });
      </script>
      <!-- Tree View - END -->
    </div>
  </body>
</html>
